* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #fff;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style-type: none;
}

.layout-head {
	margin-top: 1.5625rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.news {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 36rem;
		top: 2rem;
		width: 53vw;
		z-index: -1;
		aspect-ratio: 1 / 1.5;
		background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
		opacity: 0.1;
		border-radius: 40px;
	}
}
